* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prmanent Marker", cursive;
  height: 100vh;
}
#gameContainer {
  text-align: center;
}
#gameBoard {
  border: 3px solid;
}
#scoreText {
  font-size: 60px;
}
#resetBtn {
  font-size: 18px;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}
